- var Title = 'Gulpプロジェクト作成'

doctype html
html
    head
        meta(charset="utf-8")
        title #{Title}
        link(rel="stylesheet",href="./dst/css/style.css")
        link(rel="stylesheet",href="./dst/css/tomorrow-night.css")
        //- link(rel="styleseet",href="./node_modules/highlightjs/styles/tomorrow-night.css")
        script(src="./dst/js/dst/js/bundle.js")
    body
        h1 #{Title}
